/* 
Item
    ItemInfo
        ItemImg
        ItemTitle
        DownArrow
    text
*/


.Item .ItemInfo{
    display: grid;
    grid-template-columns: auto 1fr auto;

    height: 60px;

    border: 2px solid #fff;
}
.Item .ItemInfo div{
    padding: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
}
.Item .ItemInfo .ItemImg{
    padding: 0 20px;
}
.Item .ItemInfo .ItemTitle{
    justify-content: flex-start;
    font-size: 32px;
}
.Item .ItemInfo .DownArrow{
    padding: 0 20px;
}
.Item .text{
    border: none;

    height: 0;

    overflow: hidden;

    font-size: 20px;
}
.Item .text.deploy{
    border: 2px solid #fff;
    border-top: none;

    height: auto;

    padding: 15px 20px;
}