.Nav{
    --Nav-height: 70px;

    background-color: var(--main-color);

    height: var(--Nav-height);
    width: 100%;

    position: fixed;

    z-index: 10;
}
.Nav :global(.container){
    padding: 5px 15px;
    
    height: var(--Nav-height);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--main-color);
}

.NavLogo{
    display: inline;
}
.NavLogo img{
    height: 50px;
}
.NavLogo img:last-child{
    margin-left: 5px;
}

.NavLinks{
    font-size: 20px;
    
    line-height: 1;
}

.NavLink:not(:first-child){
    margin-left: 45px;
}
.NavLink{
    --hover-color: #9f9f9f;
    --default-margin: 20%;
    --hover-margin: -10px;
    --hover-transition-time: .6s;

    position: relative;

    transition: var(--hover-transition-time);
}
.NavLink:hover{
    color: var(--hover-color);

}
.NavLink::before{
    content: '[';
    
    position: absolute;
    left: var(--default-margin);

    transition: var(--hover-transition-time);

    opacity: 0;
}
.NavLink::after{
    content: ']';
    
    position: absolute;
    right: var(--default-margin);

    transition: var(--hover-transition-time);

    opacity: 0;
}
.NavLink:hover::before{
    left: var(--hover-margin);

    color: var(--hover-color);

    opacity: 1;
}
.NavLink:hover::after{
    right: var(--hover-margin);

    color: var(--hover-color);

    opacity: 1;
}

.NavButton{
    display: none;
}

@media screen and (max-width: 920px){
    .NavButton{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        height: 45px;
    }
    .NavButton span{
        background-color: #fff;
        
        width: 50px;
        height: 6px;

        transition: .6s;
    }
    .NavButton:hover span{
        opacity: 0.4;
    }
    .NavButton:global(.active){
        opacity: 0.4;
    }

    .NavLinks{
        position: absolute;
        top: -500px;
        left: 0;
        
        z-index: -1;

        padding: 35px 25px;

        background: var(--main-color);

        width: 100%;

        transition: .8s;
    }
    .NavLinks:global(.active){
        top: var(--Nav-height);
    }

    .NavLinks .NavLink{
        margin: 30px 0 0 0;

        width: fit-content;

        display: block;

        position: relative;
        z-index: -1;
    }
    .NavLinks .NavLink:first-child{
        margin: -10px 0 0 0;

        width: fit-content;

        display: block;
    }
}