:global(#HowWeTeach){
    background-color: #1d1d1d;
}

.title{
    font-size: 20px;
    font-weight: normal;
}

.TaskIcons{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 120px 0;

    --icon-size: 180px;
}