:global(#HowWeTeach){
    background-color: #1d1d1d;
}

.title{
    font-size: 20px;
    font-weight: normal;
}

.TaskIcons{
    display: flex;
    justify-content: space-around;
    align-items: center;

    --icon-size: 180px;
}

@media screen and (max-width: 900px){
    .TaskIcons{
        flex-direction: column;

        margin-top: 40px;
    }
}